In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
def one_hot_encode_columns(columns_to_encode:list, df:pd.DataFrame)->pd.DataFrame:
  """
  Takes in a list of columns to normalize

  Args:
      columns_to_encode (list): _description_

  Returns:
      pd.DataFrame: _description_
  """
  
  for col in columns_to_encode:
    one_hot = pd.get_dummies(df[col], prefix=col)
    df = df.join(one_hot)
    df.drop(col, axis=1, inplace=True) 
  
  return df

In [9]:
df = pd.read_csv("loan_data.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
377,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
378,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
379,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
380,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [10]:
columns_to_encode = ["Gender", "Education", "Self_Employed", "Property_Area", "Married"]
df.drop(["Loan_ID", "Dependents"],axis=1,inplace=True)
df = one_hot_encode_columns(columns_to_encode, df)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Married_No,Married_Yes
0,4583,1508.0,128.0,360.0,1.0,N,False,True,True,False,True,False,True,False,False,False,True
1,3000,0.0,66.0,360.0,1.0,Y,False,True,True,False,False,True,False,False,True,False,True
2,2583,2358.0,120.0,360.0,1.0,Y,False,True,False,True,True,False,False,False,True,False,True
3,6000,0.0,141.0,360.0,1.0,Y,False,True,True,False,True,False,False,False,True,True,False
4,2333,1516.0,95.0,360.0,1.0,Y,False,True,False,True,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,5703,0.0,128.0,360.0,1.0,Y,False,True,True,False,True,False,False,False,True,False,True
377,3232,1950.0,108.0,360.0,1.0,Y,False,True,True,False,True,False,True,False,False,False,True
378,2900,0.0,71.0,360.0,1.0,Y,True,False,True,False,True,False,True,False,False,True,False
379,4106,0.0,40.0,180.0,1.0,Y,False,True,True,False,True,False,True,False,False,False,True
380,4583,0.0,133.0,360.0,0.0,N,True,False,True,False,False,True,False,True,False,True,False