In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
def one_hot_encode_columns(columns_to_encode:list, df:pd.DataFrame)->pd.DataFrame:
  """
  Takes in a list of columns to normalize

  Args:
      columns_to_encode (list): _description_

  Returns:
      pd.DataFrame: _description_
  """
  
  for col in columns_to_encode:
    one_hot = pd.get_dummies(df[col], prefix=col)
    df = df.join(one_hot)
    df.drop(col, axis=1, inplace=True) 
  
  return df

In [33]:
df = pd.read_csv("loan_data.csv")
columns_to_encode = ["Gender", "Education", "Self_Employed", "Loan_Status", "Property_Area", "Married"]
df.drop("Loan_ID",axis=1,inplace=True)
df = one_hot_encode_columns(columns_to_encode, df)

In [35]:
df

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Loan_Status_N,Loan_Status_Y,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Married_No,Married_Yes
0,1,4583,1508.0,128.0,360.0,1.0,False,True,True,False,True,False,True,False,True,False,False,False,True
1,0,3000,0.0,66.0,360.0,1.0,False,True,True,False,False,True,False,True,False,False,True,False,True
2,0,2583,2358.0,120.0,360.0,1.0,False,True,False,True,True,False,False,True,False,False,True,False,True
3,0,6000,0.0,141.0,360.0,1.0,False,True,True,False,True,False,False,True,False,False,True,True,False
4,0,2333,1516.0,95.0,360.0,1.0,False,True,False,True,True,False,False,True,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,3+,5703,0.0,128.0,360.0,1.0,False,True,True,False,True,False,False,True,False,False,True,False,True
377,0,3232,1950.0,108.0,360.0,1.0,False,True,True,False,True,False,False,True,True,False,False,False,True
378,0,2900,0.0,71.0,360.0,1.0,True,False,True,False,True,False,False,True,True,False,False,True,False
379,3+,4106,0.0,40.0,180.0,1.0,False,True,True,False,True,False,False,True,True,False,False,False,True
380,0,4583,0.0,133.0,360.0,0.0,True,False,True,False,False,True,True,False,False,True,False,True,False

In [11]:
df[(df["Self_Employed"] =="Yes") & (df["Education"] != "Graduate")]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
31,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,Y
49,LP001238,Male,Yes,3+,Not Graduate,Yes,7100,0.0,125.0,60.0,1.0,Urban,Y
51,LP001245,Male,Yes,2,Not Graduate,Yes,1875,1875.0,97.0,360.0,1.0,Semiurban,Y
56,LP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166.0,130.0,360.0,NaN,Semiurban,Y
105,LP001603,Male,Yes,0,Not Graduate,Yes,4344,736.0,87.0,360.0,1.0,Semiurban,N
129,LP001715,Male,Yes,3+,Not Graduate,Yes,5703,0.0,130.0,360.0,1.0,Rural,Y
140,LP001754,Male,Yes,NaN,Not Graduate,Yes,4735,0.0,138.0,360.0,1.0,Urban,N
158,LP001841,Male,No,0,Not Graduate,Yes,2583,2167.0,104.0,360.0,1.0,Rural,Y
261,LP002318,Female,No,1,Not Graduate,Yes,3867,0.0,62.0,360.0,1.0,Semiurban,N
280,LP002407,Female,Yes,0,Not Graduate,Yes,7142,0.0,138.0,360.0,1.0,Rural,Y
353,LP002821,Male,No,0,Not Graduate,Yes,5800,0.0,132.0,360.0,1.0,Semiurban,Y

0       1
1       0
2       0
3       0
4       0
       ..
376    3+
377     0
378     0
379    3+
380     0
Name: Dependents, Length: 381, dtype: object